body{
margin:0;
}
form{
width:450 px;
margin:auto:
background:rgba(0,0,0,0.4);
padding:10px 20px;
box-size:border-box;
margin-top:20px
border-radios:20px;
}
h2{
color:#fff;
tex-align:center;
font-size:30px;
margin-bottom:20px;
}
input;textarea{
width:100%;
margin-bottom:20px;
padding:7px;
box-sizing:border-box;
font-size:17px;
}
textarea{
main-height:100px;
max-height:200px;
max-width:100%;
}
#boton{
background:#31384A;
color:#fff;
padding:20px;
}
#boton:hover{
cursor:pointer;
}
@media(max-width:480px){
form{
width:100%;
}
p{
   padding-left: 30px;     
    }