Body{
    background-color: #FADBD8;
}
h2{
    text-align: left;
    font-family:inherit;
    color:darkblue;
    font-size: 200%;  
    padding: 0px;
    padding-left: 30px;
}
h3{
    font-family: monospace;
    color: darkmagenta;
    font-size: 255%;
    padding-left: 30px;
}
/*
.Uno li a{ 
    text-decoration: none;
    color:#17202A;
    font-family: serif;
}
.Uno>li{
    list-style: none;
    width: 100px;
    font-weight: 600;
    height: 20px;
    overflow: hidden;
    font-weight: 600;
}    
.Uno li ul li{
    margin-left: -40px;
    width: 100px;
}
.Dos>li{
    font-weight: 300;
    list-style: none;
}
.Dos>li>a:hover{
    color: darkblue;
}
.Uno>li:hover{
    height: auto;
}
.mimenu{
    background-color:blanchedalmond;
    overflow: hidden;
    width: 500px;
}
*/

.Uno > li{
    display: block;
    float: left;
    list-style: none;
    height: 25px;
    overflow: hidden;
    background: #ABEBC6;
    text-align:left;
}
.Uno > li:hover{
    height: auto;
}
.Dos > li{
    list-style: none;
    margin-left: -30px;
    font-size: 20px;
}
.Dos a{
    color: #1C2833 ;
    text-decoration: none;
}
.Dos a:hover{
    color: darkblue; 
}
.Uno > li > a{
    width: 230px;
    display: block;
    float:left;
    text-align: center;
    text-decoration: none;
    color: brown;
    background: #ABEBC6;
    font-size: 23px;
}
P {
  padding-left: 30px;
  overflow: hidden;
  height: 90%;
  width: 1200px;
  text-align: justify;
}
table{
     padding-left: 30px;
}
ol{
    padding-left: 30px;
}
